
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patient Data and Stroke Predictions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
  <title>404 Error</title>
</head>

<!--404 error page for when the user tries to go to a page that doesn't exist-->
<body>
   <div class="header-title">
    <img src="{{ url_for('static', filename='images/MediCare_.png') }}" alt="Hospital Logo" class="main-logo">
    <h1>404</h1>
    <h2>Page not Found</h2>
    </div>

  <div class="error.container">
    <p>The page you are looking for does not exist.</p>

    <a href="{{ url_for('home') }}" class="nav-button">Back to Home</a>
  </div>

</body>
</html>