body {
    background-color: rgb(188, 232, 247);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #04047c;
}

p {
    color: #04047c;
}

.nav-button {
    display: inline-block;
    background-color: white;
    color: #04047c;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 5px;
}

.nav-container{
    text-align: center;
    margin-bottom:20px;
}