body {
    background-color: rgb(188, 232, 247);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #04047c;
}

p {
    color: #04047c;
}

.nav-button {
    display: inline-block;
    background-color: white;
    color: #04047c;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 5px;
}

.nav-container{
    text-align: center;
    margin-bottom:20px;
}

h2 {
    color: #04047c;
}

.flash-message {
    text-align: center;
}

.flash {
    list-style: none; /*to remove bullet points*/
}

.error {
    color: red;
}

table {
    margin: 0 auto; /*Centering the table*/
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #04047c;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*Styling the Action cell*/
.action-cell {
    width: 150px; /* To ensure the column is wide enough */
}

.action-buttons {
    display: flex; /*Aligning items in a row */
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/*Styling buttons*/

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-block; /*Ensures links behave like buttons */ 
    line-height: normal;
}

.edit-btn {
    background-color: rgb(36, 161, 120);
}

.delete-btn {
    background-color: tomato;
}

/*Override default form margin so it fits appropriately */
form { 
    margin: 0;
}