body {
    background-color: rgb(188, 232, 247); /*body of site is light blue*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #04047c; /*main title h1 text is dark blue*/
}

p {
    color: #04047c; /*paragraph text is dark blue*/
}

/*navigation buttons are white with dark blue text and rounded shape*/
.nav-button { 
    display: inline-block;
    background-color: white;
    color: #04047c;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 5px;
}

/*navigation buttons are centred*/
.nav-container{
    text-align: center;
    margin-bottom:20px;
}

/*h2 text is dark blue*/
h2 {
    color: #04047c;
}

.flash-message {
    text-align: center; /*align flash messages in center*/
}

.flash {
    list-style: none; /*to remove bullet points*/
    padding: 0;
    margin: 0;
}

.flash li {
    color: red; /*flash message text red*/
    font-weight: bold; /*making text bold*/
}

.error {
    color: red;
}

/*Styling for the logo and logo container below*/
.header-title {
    text-align: center;
    padding-top: 20px;
}

/*Styles for the logo above title*/
.main-logo {
    width: 220px;
    height: auto;
}
