body {
    background-color: rgb(188, 232, 247); /*body of site is light blue*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #04047c; /*main title h1 text is dark blue*/
}

p {
    color: #04047c; /*paragraph text is dark blue*/
}

/*navigation buttons are white with dark blue text and rounded shape*/
.nav-button { 
    display: inline-block;
    background-color: white;
    color: #04047c;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 5px;
}

/*navigation buttons are centred*/
.nav-container{
    text-align: center;
    margin-bottom:20px;
}

/*h2 text is dark blue*/
h2 {
    color: #04047c;
}

.flash-message {
    text-align: center; /*align flash messages in center*/
}

.flash {
    list-style: none; /*to remove bullet points*/
    padding: 0;
    margin: 0;
}

.flash li {
    color: red; /*flash message text red*/
    font-weight: bold; /*making text bold*/
}

.error {
    color: red;
}

table {
    margin: 0 auto; /*Centering the table*/
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #04047c;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*Styling the Action cell*/
.action-cell {
    width: 150px; /* To ensure the column is wide enough */
}

.action-buttons {
    display: flex; /*Aligning items in a row */
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/*Styling buttons*/

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-block; /*Ensures links behave like buttons */ 
    line-height: normal;
}

.edit-btn {
    background-color: rgb(36, 161, 120);
}

.delete-btn {
    background-color: tomato;
}

/*Override default form margin so it fits appropriately */
form { 
    margin: 0;
}

/*Seach bar styling*/
.search-container {
    margin: 20px auto;
    text-align: center;
}

.search-input {
    padding: 9px;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.863);
    border-radius: 4px;
    margin-right: 5px;
}

.search-btn {
    background-color: #04047c;
    color:white;
}

.clear-link {
    margin-left: 10px;
    color: tomato;
    text-decoration: none;
    font-size: 14px;
}

/* Styling for pagination */
.pagination-container {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.page-info {
    font-weight: bold;
    color: #04047c;
}

/* Disabled button state */
.disabled {
    background-color: rgba(255, 255, 255, 0.863);
    cursor: not-allowed;
    color: #666;
    pointer-events: none;
}

/*Styling for the logo and logo container below*/
.header-title {
    text-align: center;
    padding-top: 20px;
}

/*Styles for the logo above title*/
.main-logo {
    width: 220px;
    height: auto;
}
