
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  <title>About Page</title>
</head>
<body>
  <h1>About Stroke Predictions Analytics</h1>
  <p>For use by health professionals</p>

<nav>
  <a href="/">Home</a> |
  <a href="/login">Login</a> |
  <a href="/register">Register</a>
</nav>

  <h2>Purpose of the Site</h2>
  <p>Platform for health professionals to manage patient data and assess probability of stroke for preventative healthcare.</p>
</body>
</html>
