<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <title>Admin Dashboard</title>

</head>
<body>
  <div class="header-title">
    <img src="{{ url_for('static', filename='images/MediCare_.png') }}" alt="Hospital Logo" class="main-logo">
    <h1>Admin Dashboard</h1>
  </div>

  <!--Dashboard page for users only with role 'admin'-->

  <!--Buttons to navigate the site-->
<div class="nav-container">
  <a href="/view_doctors" class="nav-button">View Doctors</a> 
  <a href="{{ url_for('logout') }}" class="nav-button">Log out</a> 
</div>

  <!--Flash messages-->
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

  <p>Hello, {{ session.user_name }} </p>
</body>
</html>