
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patient Data and Stroke Predictions</title>
</head>
<body>
  <h1>Hospital Stroke Analytics Site</h1>

<nav>
  <a href="/about">About</a> |
  <a href="/login">Login</a> |
  <a href="/register">Register</a>
</nav>

  <p>Website for Stroke Analytics of Patients</p>
  <figure>
    <img src="{{ url_for('static', filename='images/hospital.jpg') }}" alt="Hospital Icon" width="320">
    <figcaption>For Health Professionals</figcaption>
  </figure>
</body>
</html>
