
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Login Page</title>
</head>
<body>
  <h1>Login</h1>

<!--Login page for doctors-->

<div class="nav-container">
  <a href="/" class="nav-button">Home</a> 
  <a href="/about" class="nav-button">About</a> 
  <a href="/register" class="nav-button">Register</a>
</div>

<!--Flash messages to show any errors in input validation -->
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

<!--Form for a registered user to enter their username and password -->
  <form method="POST" action="success.html" autocomplete="off">
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required minlength="3" maxlength="16"
             pattern="^[A-Za-z0-9_]+$" title="Use only letters, numbers, and underscores.">
    </p>
    <p>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required>
    </p>
    <button type ="submit" class="login-submit-btn">Log in</button>
  </form>

  <!--Link where unregistered users can navigate to the registration page -->
  <p>
    New user? <a href="{{ url_for('register') }}">Create an account</a> 
  </p>

</body>
</html>

