
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Login Page</title>
</head>
<body>
  <h1>Login</h1>

<div class="nav-container">
  <a href="/" class="nav-button">Home</a> 
  <a href="/about" class="nav-button">About</a> 
  <a href="/register" class="nav-button">Register</a>
</div>

  <form method="POST" action="success.html" autocomplete="off">
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required minlength="3" maxlength="16"
             pattern="^[A-Za-z0-9_]+$" title="Use only letters, numbers, and underscores.">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" type="password" required>
    </p>
    <button type ="submit" class="login-submit-btn">Log in</button>
  </form>

  <p>
    New user? <a href="{{ url_for('register') }}">Create an account</a> 
  </p>

</body>
</html>

