
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registersuccess.css') }}">
  <title>Registration Success</title>
</head>
<body>

<!--Registration success page that a user is redirected to once successfully registered-->
<div class="nav-container">
  <a href="/" class="nav-button">Home</a> 
  <a href="/about" class="nav-button">About</a> 
  <a href="/login" class="nav-button">Login</a> 
</div> 

<!--Flash message to confirm successful registration-->
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

  <h1>Registration Successful!</h1>
  <p>Thank you for submitting the form. <a href="{{ url_for('login') }}"> Login here. </a></p>
  <a href="/">Back to Home</a>
</body>
</html>
